<% include ../head.html.ejs %>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <!--<img class="logo" src="assets/img/techworks.png" alt="TechWorks" title="">-->
            <a href="test.html" class="logo"><b>Techworks</b></a>
            <!--logo end-->
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><img id="avatar" src="" class="img-circle" width="60"></p>
                  <h5 id="username" class="centered"></h5>

                  <li class="mt">
                      <a id="menu-test" class="active">
                          <i class="fa fa-code"></i>
                          <span>Test Questions</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a id="menu-help" class="">
                          <i class="fa fa-question"></i>
                          <span>Help</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div id="test-page" class="row mt">
                <div class="col-lg-12">

                  <!-- Question tabs -->
                  <ul id="question-tabs" class="nav nav-tabs" role="tablist">
                  </ul>

                  <!-- Tab panes -->
                  <div id="question-tabs-content" class="tab-content">

                    <div style="display: none" class="tab-pane" id="question-content-to-clone">
                      <div class="white-panel pn">
                        <div class="white-header">
                          <h5 class="question-name">[QUESTION_NAME]</h5>
                        </div>
                        <div class="row">

                          <!-- Question Left Column -->
                          <div class="col-sm-4">
                            <div class="grey-panel pn">
                              <div class="grey-header">
                                <h5>TASK</h5>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  <p class="question-task">[QUESTION_TASK]</p>
                                </div>
                              </div>
                              <div class="grey-header">
                                <h5>SAMPLE INPUT/OUTPUT</h5>
                              </div>
                              <div class="row question-input-output">
                              </div>
                            </div>

                            <button type="button" class="btn btn-primary btn-lg btn-block run-code">Run my code</button>
                          </div><!-- /Question Left Column -->

                          <!-- Question Right Column -->
                          <div class="col-sm-8">

                            <pre class="editor"></pre>

                            <!-- Output -->
                            <h4>Result:</h4>
                            <pre class="question-output"> </pre>
                          </div><!-- /Question Right Column -->

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div><!-- /row -->

              <div id="help-page" class="row mt" style="display: none">
                <div class="col-lg-12">
                  <div class=" showback">
                    <h1>Help!</h1>
                  </div>
                </div>
              </div>

          </section>
      </section>

    <!-- Submit Modal -->
    <div id="submit-modal" role="dialog" tabindex="-1" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Submit Your Test?</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to submit ALL of your answers for ALL questions?</p>

          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">No, go back</button>
            <button id="submit-button-confirm" class="btn btn-theme" type="button">Yes, submit!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->

      <!-- Error Modal -->
      <div id="error-modal" role="dialog" tabindex="-1" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Oops...</h4>
            </div>
            <div class="modal-body">
              <p id="error-msg"></p>

            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal -->

      <!--main content end-->
  </section>

  <!-- Handle the main navigation menu -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('#menu-test').click(function (e) {
        $('#menu-test').addClass('active');
        $('#test-page').show();
        $('#menu-help').removeClass('active');
        $('#help-page').hide();
      });

      $('#menu-help').click(function (e) {
        $('#menu-test').removeClass('active');
        $('#test-page').hide();
        $('#menu-help').addClass('active');
        $('#help-page').show();
      });
    });
  </script>
  <script src="assets/js/techworks-test.js"></script>

<% include ../foot.html.ejs %>